## Install Dependencies

In [1]:
import sys
!{sys.executable} -m pip install pandas
!{sys.executable} -m pip install numpy
!{sys.executable} -m pip install redis
!{sys.executable} -m pip install themoviedb
!{sys.executable} -m pip install awscli
!{sys.executable} -m pip install boto3
!{sys.executable} -m pip install botocore
!{sys.executable} -m pip install themoviedb

Requirement already satisfied: pandas in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (1.22.4)
Collecting redis
  Downloading redis-5.0.7-py3-none-any.whl.metadata (9.3 kB)
Requirement already satisfied: async-timeout>=4.0.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from redis) (4.0.3)
Downloading redis-5.0.7-py3-none-any.whl (252 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 252.1/252.1 kB 8.4 MB/s eta 0:00:00
Installing collected packages: redis
Successfully installed redis-5.0.7
Collecting themoviedb
  Downloading themoviedb-0.4.0-py3-none-any.whl.metadata (6.3 kB)
Collecting aiohttp==3.8.4 (from themoviedb)
  Downloading aiohttp-3.8.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (7.4 kB)
Requirement already satisfied: aiosignal==1.3.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (1.3.1)
Collecting async-timeout==4.0.2 (from themoviedb)
  Downloading async_timeout-4.0.2-py3-none-any.whl.metadata (4.2 kB)
Collecting attrs==23.1.0 (from themoviedb)
  Downloading attrs-23.1.0-py3-none-any.whl.metadata (11 kB)
Collecting certifi==2023.5.7 (from themoviedb)
  Downloading certifi-2023.5.7-py3-none-any.whl.metadata (2.2 kB)
Collecting charset-normalizer==3.1.0 (from themoviedb)
  Downloading charset_normalizer-3.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (30 kB)
Collecting dacite==1.8.1 (from themoviedb)
  Downloading dacite-1.8.1-py3-none-any.whl.metadata (15 kB)
Collecting frozenlist==1.3.3 (from themoviedb)
  Downloading frozenlist-1.3.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.7 kB)
Collecting idna==3.4 (from themoviedb)
  Downloading idna-3.4-py3-none-any.whl.metadata (9.8 kB)
Collecting multidict==6.0.4 (from themoviedb)
  Downloading multidict-6.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.1 kB)
Requirement already satisfied: requests==2.31.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (2.31.0)
Collecting urllib3==2.0.3 (from themoviedb)
  Downloading urllib3-2.0.3-py3-none-any.whl.metadata (6.6 kB)
Collecting yarl==1.9.2 (from themoviedb)
  Downloading yarl-1.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (23 kB)
Downloading themoviedb-0.4.0-py3-none-any.whl (59 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.4/59.4 kB 6.9 MB/s eta 0:00:00
Downloading aiohttp-3.8.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 9.0 MB/s eta 0:00:00:00:01
Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Downloading attrs-23.1.0-py3-none-any.whl (61 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.2/61.2 kB 14.7 MB/s eta 0:00:00
Downloading certifi-2023.5.7-py3-none-any.whl (156 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 157.0/157.0 kB 34.0 MB/s eta 0:00:00
Downloading charset_normalizer-3.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (199 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.3/199.3 kB 6.4 MB/s eta 0:00:00
Downloading dacite-1.8.1-py3-none-any.whl (14 kB)
Downloading frozenlist-1.3.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (149 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.6/149.6 kB 35.2 MB/s eta 0:00:00
Downloading idna-3.4-py3-none-any.whl (61 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.5/61.5 kB 15.2 MB/s eta 0:00:00
Downloading multidict-6.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.5/114.5 kB 1.8 MB/s eta 0:00:00:00:01
Downloading urllib3-2.0.3-py3-none-any.whl (123 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 123.6/123.6 kB 27.7 MB/s eta 0:00:00
Downloading yarl-1.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (268 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 268.8/268.8 kB 5.3 MB/s eta 0:00:00:00:01
Installing collected packages: urllib3, multidict, idna, frozenlist, dacite, charset-normalizer, certifi, attrs, async-timeout, yarl, aiohttp, themoviedb
  Attempting uninstall: urllib3
    Found existing installation: urllib3 2.2.1
    Uninstalling urllib3-2.2.1:
      Successfully uninstalled urllib3-2.2.1
  Attempting uninstall: multidict
    Found existing installation: multidict 6.0.5
    Uninstalling multidict-6.0.5:
      Successfully uninstalled multidict-6.0.5
  Attempting uninstall: idna
    Found existing installation: idna 3.6
    Uninstalling idna-3.6:
      Successfully uninstalled idna-3.6
  Attempting uninstall: frozenlist
    Found existing installation: frozenlist 1.4.1
    Uninstalling frozenlist-1.4.1:
      Successfully uninstalled frozenlist-1.4.1
  Attempting uninstall: charset-normalizer
    Found existing installation: charset-normalizer 3.3.2
    Uninstalling charset-normalizer-3.3.2:
      Successfully uninstalled charset-normalizer-3.3.2
  Attempting uninstall: certifi
    Found existing installation: certifi 2024.2.2
    Uninstalling certifi-2024.2.2:
      Successfully uninstalled certifi-2024.2.2
  Attempting uninstall: attrs
    Found existing installation: attrs 23.2.0
    Uninstalling attrs-23.2.0:
      Successfully uninstalled attrs-23.2.0
  Attempting uninstall: async-timeout
    Found existing installation: async-timeout 4.0.3
    Uninstalling async-timeout-4.0.3:
      Successfully uninstalled async-timeout-4.0.3
  Attempting uninstall: yarl
    Found existing installation: yarl 1.9.4
    Uninstalling yarl-1.9.4:
      Successfully uninstalled yarl-1.9.4
  Attempting uninstall: aiohttp
    Found existing installation: aiohttp 3.9.3
    Uninstalling aiohttp-3.9.3:
      Successfully uninstalled aiohttp-3.9.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
redis 5.0.7 requires async-timeout>=4.0.3; python_full_version < "3.11.3", but you have async-timeout 4.0.2 which is incompatible.
sparkmagic 0.21.0 requires pandas<2.0.0,>=0.17.1, but you have pandas 2.2.1 which is incompatible.
sphinx 7.2.6 requires docutils<0.21,>=0.18.1, but you have docutils 0.16 which is incompatible.
Successfully installed aiohttp-3.8.4 async-timeout-4.0.2 attrs-23.1.0 certifi-2023.5.7 charset-normalizer-3.1.0 dacite-1.8.1 frozenlist-1.3.3 idna-3.4 multidict-6.0.4 themoviedb-0.4.0 urllib3-2.0.3 yarl-1.9.2
Requirement already satisfied: awscli in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (1.32.101)
Requirement already satisfied: botocore==1.34.101 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from awscli) (1.34.101)
Requirement already satisfied: docutils<0.17,>=0.10 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from awscli) (0.16)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from awscli) (0.10.1)
Requirement already satisfied: PyYAML<6.1,>=3.10 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from awscli) (6.0.1)
Requirement already satisfied: colorama<0.4.7,>=0.2.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from awscli) (0.4.6)
Requirement already satisfied: rsa<4.8,>=3.1.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from awscli) (4.7.2)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore==1.34.101->awscli) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore==1.34.101->awscli) (2.9.0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore==1.34.101->awscli) (2.0.3)
Requirement already satisfied: pyasn1>=0.1.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from rsa<4.8,>=3.1.2->awscli) (0.6.0)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore==1.34.101->awscli) (1.16.0)
Requirement already satisfied: boto3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (1.34.101)
Requirement already satisfied: botocore<1.35.0,>=1.34.101 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from boto3) (1.34.101)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from boto3) (0.10.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore<1.35.0,>=1.34.101->boto3) (2.9.0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore<1.35.0,>=1.34.101->boto3) (2.0.3)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.35.0,>=1.34.101->boto3) (1.16.0)
Requirement already satisfied: botocore in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (1.34.101)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore) (2.9.0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore) (2.0.3)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore) (1.16.0)
Requirement already satisfied: themoviedb in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (0.4.0)
Requirement already satisfied: aiohttp==3.8.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (3.8.4)
Requirement already satisfied: aiosignal==1.3.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (1.3.1)
Requirement already satisfied: async-timeout==4.0.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (4.0.2)
Requirement already satisfied: attrs==23.1.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (23.1.0)
Requirement already satisfied: certifi==2023.5.7 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (2023.5.7)
Requirement already satisfied: charset-normalizer==3.1.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (3.1.0)
Requirement already satisfied: dacite==1.8.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (1.8.1)
Requirement already satisfied: frozenlist==1.3.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (1.3.3)
Requirement already satisfied: idna==3.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (3.4)
Requirement already satisfied: multidict==6.0.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (6.0.4)
Requirement already satisfied: requests==2.31.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (2.31.0)
Requirement already satisfied: urllib3==2.0.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (2.0.3)
Requirement already satisfied: yarl==1.9.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (1.9.2)

## Import Libraries

In [2]:
import pandas as pd
import numpy as np
import uuid
#from sentence_transformers import SentenceTransformer
import datetime
import os
import redis
import time
import json
import boto3
import botocore
import pickle
import re
import gzip
import shutil
from urllib import request
from redis.commands.search.field import VectorField
from redis.commands.search.field import TextField, NumericField
from redis.commands.search.field import TagField
from redis.commands.search.query import Query, NumericFilter
from redis.commands.search.result import Result
from redis.cluster import RedisCluster as MemoryDB
from redis.commands.search.field import VectorField, TextField, NumericField
from redis.commands.search.indexDefinition import IndexDefinition, IndexType
from themoviedb import TMDb
from multiprocessing.pool import ThreadPool

## Test Connection to MemoryDB

In [3]:
%%time
memorydb_host = os.environ.get("MEMORYDB_HOST", "clustercfg.xxxx.xxxxxx.memorydb.xx-xxxx-x.amazonaws.com")
memorydb_port = os.environ.get("MEMORYDB_PORT", 6379)
print(f"MemoryDB Url = {memorydb_host}:{memorydb_port}")
rc = MemoryDB(host=memorydb_host, port=memorydb_port, ssl=True, decode_responses=False, ssl_cert_reqs="none")
rc.ping()
# rc.flushall()

MemoryDB Url = clustercfg.xxxx.xxxxxx.memorydb.xx-xxxx-x.amazonaws.com:6379
CPU times: user 71 ms, sys: 5.03 ms, total: 76 ms
Wall time: 85.9 ms

True

## Download IMDB Datasets

### Define Functions

In [4]:
dataset_path = "datasets"
def download_compressed_dataset(url):
    if not os.path.isdir(dataset_path):
        os.makedirs(dataset_path) 
    compressed_filename = dataset_path + "/" + re.split(pattern='/', string=url)[-1]
    request.urlretrieve(url=url, filename=compressed_filename)
    uncompressed_filename = re.split(pattern=r'\.gz', string=compressed_filename)[0]
    print(f"downloaded {compressed_filename}")
    with gzip.open(compressed_filename, 'rb') as f_in:
        with open(uncompressed_filename, 'wb') as f_out:
            shutil.copyfileobj(f_in, f_out)
    print(f"extracted {uncompressed_filename}")
    return uncompressed_filename

In [5]:
datasets = [
    "https://datasets.imdbws.com/title.basics.tsv.gz",
    "https://datasets.imdbws.com/title.principals.tsv.gz",
    "https://datasets.imdbws.com/name.basics.tsv.gz",
    "https://datasets.imdbws.com/title.ratings.tsv.gz",
]

retrieved_datasets = ThreadPool(5).imap_unordered(download_compressed_dataset, datasets)
for retrieved_dataset in retrieved_datasets:
    print(f"loading {retrieved_dataset}")
    pickle.dump(pd.read_table(retrieved_dataset,sep="\t",low_memory=False, na_values=["\\N","nan"]), open(retrieved_dataset[:-4]+".sav","wb"))

downloaded datasets/title.ratings.tsv.gz
extracted datasets/title.ratings.tsv
datasets/title.ratings.tsv
downloaded datasets/title.basics.tsv.gz
downloaded datasets/name.basics.tsv.gz
downloaded datasets/title.principals.tsv.gz
extracted datasets/name.basics.tsv
datasets/name.basics.tsv
extracted datasets/title.basics.tsv
extracted datasets/title.principals.tsv
datasets/title.basics.tsv
datasets/title.principals.tsv

## Show Datasets

In [17]:
df_title_basics = pickle.load(open(f"{dataset_path}/title.basics.sav","rb"))
df_title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1,"Comedy,Short"

In [7]:
df_title_principals = pickle.load(open(f"{dataset_path}/title.principals.sav","rb"))
df_title_principals.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,NaN,"[""Self""]"
1,tt0000001,2,nm0005690,director,NaN,NaN
2,tt0000001,3,nm0005690,producer,producer,NaN
3,tt0000001,4,nm0374658,cinematographer,director of photography,NaN
4,tt0000002,1,nm0721526,director,NaN,NaN

In [8]:
df_name_basics = pickle.load(open(f"{dataset_path}/name.basics.sav","rb"))
df_name_basics.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899.0,1987.0,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934.0,NaN,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949.0,1982.0,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","tt0050986,tt0083922,tt0050976,tt0069467"

In [9]:
df_title_ratings = pickle.load(open(f"{dataset_path}/title.ratings.sav","rb"))
df_title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2060
1  tt0000002            5.6       278
2  tt0000003            6.5      2029
3  tt0000004            5.4       179
4  tt0000005            6.2      2796

In [45]:
df_title_crew = pickle.load(open(f"{dataset_path}/title.crew.sav","rb"))
df_title_crew.head()

      tconst  directors writers
0  tt0000001  nm0005690     NaN
1  tt0000002  nm0721526     NaN
2  tt0000003  nm0721526     NaN
3  tt0000004  nm0721526     NaN
4  tt0000005  nm0005690     NaN

## Drop Specific Titles

### Drop Specific Title Types

In [18]:
# initial title count
df_title_basics.shape[0]

10900927

In [19]:
# identify title types
df_title_basics.titleType.unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvSeries', 'tvEpisode',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

In [20]:
# only keep movie tvMovie tvSeries tvMiniSeries
df_title_basics = df_title_basics[(df_title_basics.titleType == "movie") | (df_title_basics.titleType == "tvMovie") | (df_title_basics.titleType == "tvSeries") | (df_title_basics.titleType == "tvMiniSeries")]
df_title_basics.shape[0]

1154692

### Drop Older Titles

In [21]:
# drop titles older than 1925
df_title_basics = df_title_basics[df_title_basics['startYear'] > 1935]
# df_title_basics = df_title_basics[df_title_basics['endYear'] > 1935]
df_title_basics.shape[0]

977658

### Drop Unused Columns

In [22]:
# drop unused columns
df_title_basics = df_title_basics.drop(['originalTitle', 'endYear'], axis=1)
df_title_basics.columns = ['tconst', 'titleType', 'title', 'isAdult', 'year', 'runtime', 'genres']
df_title_basics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 977658 entries, 3816 to 10900877
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   tconst     977658 non-null  object
 1   titleType  977658 non-null  object
 2   title      977656 non-null  object
 3   isAdult    977658 non-null  float64
 4   year       977658 non-null  float64
 5   runtime    624032 non-null  object
 6   genres     888267 non-null  object
dtypes: float64(2), object(5)
memory usage: 59.7+ MB

## Merge Tables

### Prepare Directors Table

In [23]:
df_title_directors = df_title_principals[df_title_principals['category'] == 'director'][['tconst', 'nconst']]
df_title_directors = df_title_directors.merge(df_name_basics[['nconst', 'primaryName']], on='nconst', how='left')
df_title_directors['primaryName'] = df_title_directors['primaryName'].fillna('')
df_title_directors = df_title_directors.groupby('tconst')['primaryName'].apply(lambda x: ', '.join(x)).reset_index()
df_title_directors.columns = ['tconst', 'directors']

### Prepare Actors Table

In [24]:
df_title_actors = df_title_principals[df_title_principals['category'].isin(['actor', 'actress'])][['tconst', 'nconst']]
df_title_actors = df_title_actors.merge(df_name_basics[['nconst', 'primaryName']], on='nconst', how='left')
df_title_actors['primaryName'] = df_title_actors['primaryName'].fillna('')
df_title_actors = df_title_actors.groupby('tconst')['primaryName'].apply(lambda x: ', '.join(x)).reset_index()
df_title_actors.columns = ['tconst', 'actors']

### Merge Tables

In [25]:
df_title_ratings.columns = ['tconst', 'rating', 'numVotes']

df_merged = pd.merge(df_title_basics, df_title_ratings, on='tconst', how='left')
df_merged = pd.merge(df_merged, df_title_directors, on='tconst', how='left')
df_merged = pd.merge(df_merged, df_title_actors, on='tconst', how='left')
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 977658 entries, 0 to 977657
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   tconst     977658 non-null  object
 1   titleType  977658 non-null  object
 2   title      977656 non-null  object
 3   isAdult    977658 non-null  float64
 4   year       977658 non-null  float64
 5   runtime    624032 non-null  object
 6   genres     888267 non-null  object
 7   rating     468633 non-null  float64
 8   numVotes   468633 non-null  float64
 9   directors  631876 non-null  object
 10  actors     700546 non-null  object
dtypes: float64(4), object(7)
memory usage: 82.0+ MB

### Drop More Titles (without directors and without actors)

In [26]:
# drop rows with no directors or actors
df_merged.dropna(subset=['directors'], inplace=True)
df_merged.dropna(subset=['actors'], inplace=True)
df_merged.shape[0]

495262

### Drop Lower Rated Titles (and titles with low number of ratings)

In [27]:
df_merged = df_merged[df_merged['numVotes'] > 2000]
df_merged = df_merged[df_merged['rating'] > 4.0]
df_merged.shape[0]

27880

### Get Plot from TMDB

#### Define Function to Get Plot

In [28]:
from time import sleep
tmdb = TMDb(key="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx", language="en-US", region="US")
def get_overview(imdb_id):
    title =  tmdb.find().by_imdb(imdb_id)
    sleep(0.025)
    if title.movie_results:
        return title.movie_results[0].overview
    if  title.tv_results:
        return title.tv_results[0].overview
    return

#### Get Plot for All Remaining Titles

In [29]:
df_subset = df_merged.head(100)
df_subset['plot'] = df_subset['tconst'].map(get_overview)
df_subset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 106 to 2201
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tconst     100 non-null    object
 1   titleType  100 non-null    object
 2   title      100 non-null    object
 3   isAdult    100 non-null    float64
 4   year       100 non-null    float64
 5   runtime    100 non-null    object
 6   genres     100 non-null    object
 7   rating     100 non-null    float64
 8   numVotes   100 non-null    float64
 9   directors  100 non-null    object
 10  actors     100 non-null    object
 11  plot       100 non-null    object
dtypes: float64(4), object(8)
memory usage: 10.2+ KB

/tmp/ipykernel_8679/1649889164.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['plot'] = df_subset['tconst'].map(get_overview)

#### Drop Titles with No Plot

In [30]:
df_subset['plot'].replace('', np.nan, inplace=True)
df_subset.dropna(subset=['plot'], inplace=True)
df_subset.shape[0]

/tmp/ipykernel_8679/2992180993.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_subset['plot'].replace('', np.nan, inplace=True)
/tmp/ipykernel_8679/2992180993.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['plot'].replace('', np.nan, inplace=True)
/tmp/ipykernel_8679/2992180993.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset.dropna(subset=['plot'], inplace=True)

100

### Generate Vector Embedding for Plot

#### Define Function to Query Bedrock for Vector Embedding

In [31]:
bedrock_runtime = boto3.client('bedrock-runtime')

def get_text_embedding(text, dimensions=512, normalize=True):
    if not isinstance(text, str):
        return ""
    try:
        body = json.dumps({"inputText": text, "dimensions" : dimensions, "normalize": normalize})
        modelId = "amazon.titan-embed-text-v2:0"
        accept = "application/json"
        contentType = "application/json"

        response = bedrock_runtime.invoke_model(
            body=body, modelId=modelId, accept=accept, contentType=contentType
        )
        response_body = json.loads(response.get("body").read())
        return(response_body.get("embedding"))
    except botocore.exceptions.ClientError as error:
        print(text)
        if error.response['Error']['Code'] == 'AccessDeniedException':
               print(f"\x1b[41m{error.response['Error']['Message']}\
                    \nTo troubeshoot this issue please refer to the following resources.\
                     \nhttps://docs.aws.amazon.com/IAM/latest/UserGuide/troubleshoot_access-denied.html\
                     \nhttps://docs.aws.amazon.com/bedrock/latest/userguide/security-iam.html\x1b[0m\n")

        else:
            print(text)
            raise error

#### Add Vector Embedding to Each Title

In [32]:
df_subset["v_plot"] = df_subset["plot"].map(get_text_embedding)
df_subset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 106 to 2201
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tconst     100 non-null    object
 1   titleType  100 non-null    object
 2   title      100 non-null    object
 3   isAdult    100 non-null    float64
 4   year       100 non-null    float64
 5   runtime    100 non-null    object
 6   genres     100 non-null    object
 7   rating     100 non-null    float64
 8   numVotes   100 non-null    float64
 9   directors  100 non-null    object
 10  actors     100 non-null    object
 11  plot       100 non-null    object
 12  v_plot     100 non-null    object
dtypes: float64(4), object(9)
memory usage: 10.9+ KB

/tmp/ipykernel_8679/1171507248.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset["v_plot"] = df_subset["plot"].map(get_text_embedding)

In [33]:
df_subset.head()

,tconst,titleType,title,isAdult,year,runtime,genres,rating,numVotes,directors,actors,plot,v_plot
106,tt0027260,movie,After the Thin Man,0.0,1936.0,112,"Comedy,Crime,Mystery",7.6,12204.0,W.S. Van Dyke,"William Powell, Myrna Loy, James Stewart, Elis...",Nick and Nora Charles investigate when Nora's ...,"[-0.112098925, 0.0368897, -0.00024240141, -0.0..."
121,tt0027286,movie,The Amazing Adventure,0.0,1936.0,61,"Comedy,Drama,Romance",6.3,2191.0,Alfred Zeisler,"Cary Grant, Mary Brian, Peter Gawthorne, Henry...",A bored millionaire wagers his doctor that he ...,"[-0.11646503, -0.016336221, 0.022670673, -0.11..."
134,tt0027300,movie,Anthony Adverse,0.0,1936.0,141,"Adventure,Drama,Romance",6.3,2046.0,Mervyn LeRoy,"Fredric March, Olivia de Havilland, Donald Woo...","Based on the novel by Hervey Allen, this expan...","[-0.10065765, 0.01913084, -0.029284902, 0.0194..."
158,tt0027336,movie,The Lower Depths,0.0,1936.0,90,"Crime,Drama,Romance",7.5,3701.0,Jean Renoir,"Jean Gabin, Suzy Prim, Louis Jouvet, Jany Holt...",Inhabitants of a flophouse struggle to survive...,"[-0.049684554, 0.120132804, 0.0017727931, -0.0..."
180,tt0027367,movie,Black Legion,0.0,1937.0,83,"Crime,Drama,Film-Noir",6.9,3940.0,Archie Mayo,"Humphrey Bogart, Ann Sheridan, Dick Foran, Eri...",When a hard-working machinist loses a promotio...,"[-0.09975542, 0.11154916, 0.009889546, -0.0111..."

## MemoryDB Ingestion

### Define Functions for Index Creation

In [34]:
def generate_key(prefix = ""):
    return prefix + str(uuid.uuid4())

def create_hnsw_index(rc, index_name, vector_field_name, number_of_vectors, vector_dimensions=512, distance_metric='L2', M=16, EF=512, key_prefix=''):
    # Create the index
    try:
        rc.ft(index_name).create_index([
            VectorField(vector_field_name, "HNSW", {
                "TYPE": "FLOAT32",
                "DIM": vector_dimensions,
                "DISTANCE_METRIC": distance_metric,
                "INITIAL_CAP": number_of_vectors,
                "M": M,
                "EF_CONSTRUCTION": EF
            }),
            TagField("isAdult"),
            TagField("titleType"),
            TagField("directors"),
            NumericField("rating"),
            TagField("genres"),
            TextField("plot"),
            TextField("title"),
            NumericField("runtime"),
            TagField("actors"),
            NumericField("year")
        ], definition=IndexDefinition(prefix=[key_prefix]))
        print(f"Index {index_name} created successfully.")
    except ResponseError as e:
        print(f"Index {index_name} created previously: {str(e)}")

### Define Variables for MemoryDB Index

In [35]:
KEY_PREFIX = "movies:"
index_name = "imdb_hnsw_index"
vector_field_name = "v_plot"
number_of_vectors = len(df_subset)
print(f"Creating Index {index_name} on Field {vector_field_name} expecting {number_of_vectors:,} vectors")

Creating Index imdb_hnsw_index on Field v_plot expecting 100 vectors

### Create Index (and delete existing items)

In [36]:
%%time
# Create index in MemoryDB
rc.ft(index_name).dropindex()
for key in rc.scan_iter("movies:*"):
    rc.delete(key)
create_hnsw_index(rc, index_name, vector_field_name, number_of_vectors, 
                  vector_dimensions=512, distance_metric='Cosine', M=16, EF=512, key_prefix=KEY_PREFIX)

Index imdb_hnsw_index created successfully.
CPU times: user 2.81 s, sys: 492 ms, total: 3.3 s
Wall time: 1min 35s

### Load Data into MemoryDB

In [37]:
%%time
# Load data into MemoryDB
BATCH_SIZE = 100
pipe = rc.pipeline()
for index, row in df_subset.iterrows():
    key = generate_key(prefix=KEY_PREFIX)
    v_plot = np.array(row['v_plot'], dtype=np.float32).tobytes()
    pipe.hset(key, mapping={
        'directors': row['directors'],
        'rating': row['rating'],
        'genres': row['genres'],
        'plot': row['plot'],
        'title': row['title'],
        'runtime': row['runtime'],
        'actors': row['actors'],
        'year': row['year'],
        'titleType': row['titleType'],
        'isAdult': row['isAdult'],
        'v_plot': v_plot
    })
    if index % BATCH_SIZE == 0 or index == number_of_vectors - 1:
        pipe.execute()
        pipe = rc.pipeline()
print("Data indexed successfully.")

Data indexed successfully.
CPU times: user 11.3 ms, sys: 7.11 ms, total: 18.4 ms
Wall time: 25.9 ms

### Find Random Key and Fetch Value

In [38]:
%%time
# Add a python script to find a random key that stats with the prefix and fetch the value and show it
count = 0
while True:
    count += 1
    keyname = rc.randomkey()
    keyname = keyname.decode('utf-8')
    print(str(keyname))
    if keyname.startswith(KEY_PREFIX) == True:
        print(rc.hgetall(keyname))
        break
    elif count > 10:
        break

movies:6ebce7d8-0882-43d4-8d7b-876ada1a2420
{b'actors': b'Warner Oland, Boris Karloff, Keye Luke, Charlotte Henry, Thomas Beck, Margaret Irving, Gregory Gaye, Nedda Harrigan, Frank Conroy, Guy Usher', b'titleType': b'movie', b'title': b'Charlie Chan at the Opera', b'rating': b'7.1', b'year': b'1936.0', b'plot': b'A dangerous amnesiac escapes from an asylum, hides in the opera house, and is suspected of getting revenge on those who tried to murder him 13 years ago.', b'isAdult': b'0.0', b'runtime': b'68', b'genres': b'Mystery', b'v_plot': b' \xf0\x85\xbd\x08\xeb0>R\xea6=;\xee\x95\xbdp\xea\xb5\xbd\xa3\xed\x1a=-\xef\r\xbcC\xe2\xfa\xbcH\xed\x1d=%\xe2{=\x11\xe8\xc9<\xc1\xed\x99;\xad\xea\xb3=-\xef\x8d=\x9c\xe9<=\xc4\xe6T\xbc\xed\xec \xbdC\xe2\xfa\xbc\xbd\xe2\xf6=\xa3\xed\x9a\xbc\xdc\xeb\xa9=\xe0\xed\x98<\xed\xec \xbd\xd2\xee\x90\xbb\x8e\xea\xb4\xbd\xc1\xed\x99<\xe9\xea\xb1\xbc\x80\xe2x:C\xe2\xfa\xbc>\xf0\x84<\x1b\xe5\xe2<\xb4\xee\x91\xbc7\xec&\xbdA\xe9?\xbd\xef\xe5\xdb\xbc\xc1\xed\x99=\n\xe4\xeb<\x08\xeb0=>\xf0\x04\xbd,\xe6\xd9=&\xeb/<\xf9\xe2\xf4\xbc\x85\xed\x9b8X\xe5`=\x8e\xea4=A\xe9?=}\xe9=\xbcC\xe2z=t\xec\xa4=\xb3\xe5\xdd<Y\xee\x94=\x80\xe2x;"\xe9\xc0\xbd\xd5\xe7\xcb=\x99\xf0\x01\xbc\x1f\xe7\xd1=\x87\xe6V\xbd\x1b\xe5b=\x01\xf0\x06=\xb7\xf0\x00\xbd\xfe\xed\x17\xbci\xe6\xd7\xbc\x0e\xe6Z\xbc\xf1\xee\x8f\xbc\x96\xee\x92\xbc\x96\xee\x92\xbd\xf1\xee\x8f\xbd\xe2\xe6S=>\xf0\x04\xbb\xa7\xef\x89\xbd\xe6\xe8\xc2\xbc\xf1\xee\x0f<\xd8\xe9:\xbd%\xe2\xfb\xbc\x15\xea8\xbd\xd8\xe9:\xbdL\xef\x8c=i\xe6W=\x80\xe2x;v\xe5_=\xcb\xea2=G\xe4i<{\xf0\x02==\xe7P\xbd\x04\xe9A=\x01\xf0\x86\xbd\x80\xe2\xf8\xbc\xb0\xec\xa2=\x85\xed\x1b\xbd\x0e\xe6Z\xbc>\xf0\x04\xbd>\xf0\x84=\xa2\xe4f<N\xe8G<\xde\xe4d=\xa7\xef\x89\xbdz\xe7\xce<\xf9\xe2\xf4\xbdY\xee\x94\xbc;\xee\x15\xbd_\xe9\xbe;=\xe7\xd0;J\xe6\xd8;\x15\xea\xb8\xbc\x0f\xef\x0e=L\xef\x8c=L\xef\x8c<\x08\xeb\xb0=\x94\xe5\xde\xbc\xbd\xe2\xf6\xbc\xc0\xe4\xe5<\x04\xe9\xc1=N\xe8\xc7\xbcs\xe3\xf0\xbb\xe2\xe6\xd3\xbcG\xe4\xe9\xbd\x00\xe7R\xbd\x99\xf0\x01=\xd5\xe7K="\xe9@\xbct\xec\xa4\xbd\xbd\xe2v\xbd\xe9\xea1\xbd\x9f\xeb\xab<>\xf0\x84\xbc}\xe9=\xbc\xba\xe9\xbb=w\xee\x13\xbd-\xef\x8d=\xcf\xec\xa1<f\xed\x1c=\x0b\xed\x1f<\xe9\xea\xb1=\x9f\xeb+\xbc\xf1\xee\x0f=\xd8\xe9\xba\xbb\xe8\xe1\xfd<_\xe9\xbe=;\xee\x15<&\xeb\xaf\xbc\xb0\xec"\xbd\x9c\xe9\xbc\xbd\xf7\xe99:C\xe2z=\xdc\xeb)<>\xf0\x84\xbc\xba\xe9\xbb:\x9f\xeb+\xbb\xb4\xee\x91\xbcG\xe4i\xbd{\xf0\x82;\xa3\xed\x1a<z\xe7\xce;*\xed\x9e\xbc\xa5\xe6\xd5<%\xe2\xfb<C\xe2\xfa\xbcc\xeb-\xbcv\xe5\xdf\xbcL\xef\x8c=\xe3\xef\x07=&\xeb/;\xa3\xed\x9a=\xb7\xf0\x80\xbcY\xee\x94\xbc\xa5\xe6U\xbd\x1f\xe7\xd1=c\xeb-\xbct\xec$=\xf7\xe9\xb9<"\xe9@\xbd \xf0\x05=\xbe\xeb*\xbd\xb3\xe5]\xbc&\xeb\xaf<G\xe4i=\x94\xe5\xde<\xf9\xe2\xf4;\xb7\xf0\x00>\x9c\xe9\xbc\xbc\\\xf0\x83=\xe9\xea1\xbc\xf3\xe7\xca\xbdR\xea6\xbdR\xea\xb6<\xa9\xe8\xc4\xbc\xc1\xed\x99<\x84\xe4g\xb8\xa3\xed\x9a=\x85\xed\x9b;\xa2\xe4\xe6\xbb\xa7\xef\t<6\xe3r\xbd\x01\xf0\x86\xbd \xf0\x85<p\xea\xb5<L\xef\x8c\xbc\xac\xe1\xff\xbc\xe6\xe8\xc2\xbc\x85\xed\x1b\xbd=\xe7P;&\xeb/\xbc\\\xf0\x83=\x99\xf0\x01\xbd\xf9\xe2\xf4\xb9C\xe2\xfa\xbce\xe4h=L\xef\x8c<7\xec&=\x9c\xe9<;\x99\xf0\x81\xba\xbe\xeb*=\xa9\xe8\xc4=c\xeb-\xbb>\xf0\x84<\xcf\xec\xa1<\xd5\xe7K=\n\xe4\xeb\xbd\x88\xef\x8a\xbd*\xed\x9e=J\xe6\xd8\xbc\x88\xef\n<\xd8\xe9:=\x0f\xef\x0e=-\xef\r=\xf9\xe2\xf4:l\xe8\xc6\xbc7\xec&=\xed\xec \xbdD\xeb.=\xc4\xe6T\xbc\xd2\xee\x10;&\xeb\xaf\xbd\xad\xea\xb3\xbb\xb4\xee\x11=\x19\xec\'=>\xf0\x84\xbb"\xe9\xc0<_\xe9>\xbb\x19\xec\'\xbd\x88\xef\x8a\xbc\xc4\xe6T<A\xe9?<\xb7\xf0\x80\xbc\xcf\xec!\xbd\xfe\xed\x97\xbcs\xe3\xf0\xbc\xc0\xe4e\xbc\xcf\xec\xa19\\\xf0\x03\xbe\xe8\xe1};\xa7\xef\t\xbb\xa3\xed\x9a<\x00\xe7R\xbd\x8e\xea4\xbd9\xe5a\xba\xe2\xe6\xd3<\xa7\xef\x89<R\xea6;c\xeb-\xbdG\xe4\xe9\xbc\x99\xf0\x81=\xac\xe1\xff\xbbA\xe9?<\x01\xf0\x06\xbd\x99\xf0\x81\xbc\\\xf0\x83=\xf3\xe7\xca;\x15\xea8=\xa7\xef\t=j\xef\x8b<X\xe5`<\xf1\xee\x8f<\xa7\xef\x89=\xc5\xef\x08<G\xe4i<c\xeb\xad\xbdA\xe9\xbf87\xec\xa6\xbc\xa7\xef\x89\xbd_\xe9>= \xf0\x05=\x00\xe7R\xb9_\xe9><\xe8\xe1}=j\xef\x8b\xbcL\xef\x0c:\x11\xe8I=\x81\xeb,\xbc\xa9\xe8\xc4<f\xed\x9c\xbd>\xf0\x84\xbc\xad\xea3=\xac\xe1\xff9\x01\xf0\x06\xbc\xfe\xed\x97\xbb\x0b\xed\x9f\xbd\xa9\xe8\xc4\xbb\xef\xe5[<\x19\xec\'\xbd\x9f\xeb+\xbd\xd1\xe5\xdc<c\xeb-\xbc\xde\xe4d\xbc-\xef\x8d\xbd\xe3\xef\x07\xbd\xd8\xe9:< \xf0\x05=\xb4\xee\x91<\x92\xec#\xbd\xdc\xeb\xa9<j\xef\x8b<\xa2\xe4f;>\xf0\x84=e\xe4h\xbd \xf0\x85\xbd\xc0\xe4e<{\xf0\x82=\xba\xe9;=p\xea\xb5=p\xea5\xbd\x08\xeb0;l\xe8F\xbd\x98\xe7M=\xad\xea\xb3\xbc\xed\xec\xa0=\x15\xea\xb8<t\xec$=\xf3\xe7\xca;6\xe3\xf2<\xed\xec =\xb3\xe5]\xbdv\xe5_;}\xe9\xbd\xbc\xd2\xee\x90\xbc&\xeb/\xbd\xba\xe9\xbb\xbd}\xe9\xbd\xbcD\xeb\xae\xbc\x87\xe6\xd6\xb9\xa9\xe8\xc4<\xb7\xf0\x00=*\xed\x1e=c\xeb-\xbb\n\xe4k=\x0e\xe6Z<\x99\xf0\x81\xbd\xac\xe1\x7f\xbdH\xed\x9d<\x15\xea\xb8\xbc\xe8\xe1}\xbbU\xec\xa5\xbc\xa3\xed\x1a\xbc\x1c\xee\x96\xbb\xc1\xed\x99\xbaz\xe7N=9\xe5\xe1\xbc\xce\xe3m<X\xe5`=\xc1\xed\x99\xbc\xa3\xed\x9a\xbc\xd1\xe5\xdc\xbcG\xe4\xe9\xbc\x1f\xe7\xd1<\xba\xe9\xbb<\x80\xe2x=\xfe\xed\x17\xbd\xe3\xef\x87\xbd\xe0\xed\x18\xbdt\xec\xa4<l\xe8F="\xe9\xc0;N\xe8\xc7:\xed\xec \xbc-\xef\x8d:R\xea6<\xcb\xea\xb2\xbb\xde\xe4\xe4<\xde\xe4d=3\xea\xb7\xbc-\xef\r\xbdj\xef\x0b\xbd\x9f\xeb\xab\xbc \xf0\x05\xbd\x04\xe9A<\xa7\xef\t\xbc&\xeb/=\xc4\xe6T=\x0f\xef\x8e\xbc\xf1\xee\x8f\xbd\x1c\xee\x96=\xd1\xe5\xdc=\x99\xf0\x01=\xce\xe3m\xba_\xe9\xbe<D\xeb\xae\xbct\xec\xa4;7\xec&=\xa2\xe4f\xbd\xcf\xec!\xbd6\xe3\xf2;c\xeb-\xbc\\\xf0\x83=j\xef\x8b;\x81\xeb\xac;0\xe8H\xbc\xa2\xe4\xe6<;\xee\x15=9\xe5\xe1<\xba\xe9;\xbc\xf9\xe2\xf4\xbb\xdc\xeb)\xbd&\xeb\xaf=\xa7\xef\t=s\xe3\xf0=\xf7\xe9\xb9<\xad\xea3=3\xea7\xbcj\xef\x8b<\xd5\xe7K\xbct\xec\xa4\xbd\x80\xe2\xf8\xbb"\xe9\xc0\xbc\xef\xe5[\xbdN\xe8G\xbd3\xea\xb7\xbd\xfa\xeb(<9\xe5\xe1:&\xeb/\xbd,\xe6Y\xbb\xa3\xed\x1a;0\xe8\xc8\xbc\x1f\xe7\xd1\xbb\n\xe4\xeb\xbc\xe3\xef\x07\xbc\xf1\xee\x0f=l\xe8F=\xa9\xe8\xc4\xbc\xbd\xe2v<\xf1\xee\x8f\xbcD\xeb.\xbd\xa3\xed\x9a\xbc\x91\xe3\xef\xbc\x87\xe6\xd6<e\xe4\xe8<*\xed\x9e\xbc\x81\xeb,\xbd\x91\xe3\xef<\n\xe4k\xbd\\\xf0\x03\xbb\xf9\xe2t=\xe9\xea1<\x15\xea8;\xcf\xec!:\x88\xef\n\xbd>\xf0\x04\xbdt\xec\xa4\xbc}\xe9=\xbd\x15\xea\xb8\xbc\xac\xe1\xff<_\xe9>\xbd\xac\xe1\x7f\xbd\n\xe4k\xbb\x99\xf0\x01=\xe8\xe1\xfd\xbc\xc5\xef\x88=G\xe4i\xbc\x94\xe5\xde\xbcc\xeb\xad=\xd1\xe5\\<\xad\xea\xb3<\xe6\xe8B\xbd\xd8\xe9\xba\xbc\x0e\xe6\xda\xbc\xe9\xea\xb1;\xba\xe9;\xbc\xef\xe5[<\x08\xeb\xb0\xbdA\xe9\xbf\xbc>\xf0\x84;\xc5\xef\x88\xbdt\xec\xa4\xbc\xe8\xe1}\xbd\xe2\xe6S==\xe7\xd0\xbd\xf9\xe2t=>\xf0\x04\xbd3\xea\xb7\xbd\xc4\xe6\xd4<>\xf0\x84\xbb&\xeb\xaf\xbc>\xf0\x84\xba\x88\xef\x8a\xbd\xa9\xe8D\xbde\xe4h=H\xed\x9d<\xa3\xed\x1a\xbd\xb4\xee\x11;\x0b\xed\x1f="\xe9@=\xdc\xeb\xa9=\xf1\xee\x8f;N\xe8\xc7\xbc\xac\xe1\x7f\xbdt\xec\xa4\xbc\xb7\xf0\x00\xbdD\xeb\xae;\xf1\xee\x0f\xbd\x15\xea\xb8\xbd\x11\xe8I\xbd\xb0\xec\xa2\xbc\xc0\xe4\xe5<', b'directors': b'H. Bruce Humberstone'}
CPU times: user 1.37 ms, sys: 143 µs, total: 1.52 ms
Wall time: 8.7 ms

### Query MemoryDB

#### Define Functions

In [39]:
def similarity_search(redis_client, index_name, query_vector, filters="*",top_n=1):
    # Convert the query vector to bytes
    query_vector_bytes = np.array(query_vector, dtype=np.float32).tobytes()
    # Create the query
    query = Query(f"{filters}=>[KNN {top_n} @v_plot  $query_vec AS score ]") \
        .sort_by("score") \
        .return_fields(  "titleType", "title", "year", "plot", "rating", "genres", "runtime") \
        .paging(0, top_n) \
        .dialect(2)
    params = {
        "query_vec": query_vector_bytes
    }
    # Process the query
    result = redis_client.ft(index_name).search(query, query_params=params)
    return result
def format_results(results):
    for doc in results.docs:
        doc_id = doc.id
        titleType = doc.titleType
        title = doc.title
        year = doc.year
        rating = doc.rating
        genres = doc.genres
        runtime = doc.runtime
        print(f"ID: {doc_id}, Title Type: {titleType}, Title: {title}, Year: {year}, Rating: {rating}, Genres: {genres}, Runtime: {str(datetime.timedelta(seconds=float(runtime)))}")

#### Get Random Title from Dataset

In [40]:
randomdf = df_subset.sample()
randomdf.get("title")

1443    History Is Made at Night
Name: title, dtype: object

In [41]:
selected_row = randomdf.iloc[0]
print(selected_row)
query_vector = selected_row['v_plot']

tconst                                               tt0029002
titleType                                                movie
title                                 History Is Made at Night
isAdult                                                    0.0
year                                                    1937.0
runtime                                                     97
genres                                    Comedy,Drama,Romance
rating                                                     7.3
numVotes                                                2565.0
directors                                        Frank Borzage
actors       Charles Boyer, Jean Arthur, Leo Carrillo, Coli...
plot         An American woman falls in love with a romanti...
v_plot       [-0.10615807, 0.0035840196, -0.06018783, -0.08...
Name: 1443, dtype: object

#### Do Simple Similarity Search

In [42]:
%%time
results = similarity_search(rc, index_name, query_vector, top_n=15)

CPU times: user 1.26 ms, sys: 131 µs, total: 1.39 ms
Wall time: 1.99 ms

In [43]:
format_results(results)

ID: movies:cd6bcb0d-a60b-4efa-ad11-895ae63f7af4, Title Type: movie, Title: History Is Made at Night, Year: 1937, Rating: 7.3, Genres: Comedy,Drama,Romance, Runtime: 0:01:37
ID: movies:89e1ccd2-5f3a-4e95-97e2-24fc1624a985, Title Type: movie, Title: Angel, Year: 1937, Rating: 7.2, Genres: Comedy,Drama,Romance, Runtime: 0:01:31
ID: movies:74d27feb-b1d4-4d90-a121-b0aea163050e, Title Type: movie, Title: Camille, Year: 1936, Rating: 7.3, Genres: Drama,Romance, Runtime: 0:01:49
ID: movies:46f4ff91-c88a-4f4f-9d0b-19f7c7487a4c, Title Type: movie, Title: Double Wedding, Year: 1937, Rating: 6.9, Genres: Comedy,Romance, Runtime: 0:01:27
ID: movies:d420fd5a-7b20-4554-aa58-4c0eb1333a51, Title Type: movie, Title: Desire, Year: 1936, Rating: 7.1, Genres: Comedy,Crime,Romance, Runtime: 0:01:35
ID: movies:eb334af3-8b38-4c82-bbae-cbc1d767af1f, Title Type: movie, Title: Marked Woman, Year: 1937, Rating: 7.1, Genres: Crime,Film-Noir,Thriller, Runtime: 0:01:36
ID: movies:b4af7f8e-222f-4cb5-bc88-52427bc781fb, Title Type: movie, Title: It's Love I'm After, Year: 1937, Rating: 7.4, Genres: Comedy, Runtime: 0:01:30
ID: movies:c51608e3-ea2a-4c08-a907-f1f3b8caf1a9, Title Type: movie, Title: The Grand Illusion, Year: 1937, Rating: 8.1, Genres: Drama,War, Runtime: 0:01:53
ID: movies:139b3139-4772-4a30-9638-0e6102dd5d6b, Title Type: movie, Title: The Petrified Forest, Year: 1936, Rating: 7.5, Genres: Drama,Thriller, Runtime: 0:01:22
ID: movies:856cf1a8-fc27-422b-a127-9abbe4752a34, Title Type: movie, Title: Dracula's Daughter, Year: 1936, Rating: 6.3, Genres: Drama,Fantasy,Horror, Runtime: 0:01:11
ID: movies:c20c78e1-e9af-4bb1-81a6-069891b021c7, Title Type: movie, Title: Osaka Elegy, Year: 1936, Rating: 7.2, Genres: Comedy,Drama, Runtime: 0:01:30
ID: movies:2425a759-e380-42a4-829f-cc5b3957eb6d, Title Type: movie, Title: Humanity and Paper Balloons, Year: 1937, Rating: 7.6, Genres: Drama, Runtime: 0:01:26
ID: movies:6ebce7d8-0882-43d4-8d7b-876ada1a2420, Title Type: movie, Title: Charlie Chan at the Opera, Year: 1936, Rating: 7.1, Genres: Mystery, Runtime: 0:01:08
ID: movies:f2bb1a71-5b93-4369-91d6-2740d2b4a9e0, Title Type: movie, Title: Come and Get It, Year: 1936, Rating: 6.9, Genres: Drama,Romance, Runtime: 0:01:39
ID: movies:1c449768-0c1e-4e35-9335-2e0321f9382e, Title Type: movie, Title: Captains Courageous, Year: 1937, Rating: 7.9, Genres: Adventure,Drama,Family, Runtime: 0:01:57

#### Do Similarity Search with Filters

In [44]:
%%time
filters = "@titleType:{movie} @year:[2010 2020] @rating:[6 (INF] (@genres:{Horror} | @genres:{Animation} | @genres:{Action}| @genres:{Drama}) "
results = similarity_search(rc, index_name, query_vector, filters=filters, top_n=15)

CPU times: user 744 µs, sys: 77 µs, total: 821 µs
Wall time: 2.01 ms

In [45]:
format_results(results)

## Save Dataset

In [46]:
pickle.dump(df_subset, open(f"{dataset_path}/title.subset.sav","wb"))