## Install Dependencies

In [1]:
import sys
!{sys.executable} -m pip install pandas
!{sys.executable} -m pip install numpy
!{sys.executable} -m pip install redis
!{sys.executable} -m pip install themoviedb
!{sys.executable} -m pip install awscli
!{sys.executable} -m pip install boto3
!{sys.executable} -m pip install botocore
!{sys.executable} -m pip install themoviedb

Requirement already satisfied: pandas in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (1.22.4)
Collecting redis
  Downloading redis-5.0.7-py3-none-any.whl.metadata (9.3 kB)
Requirement already satisfied: async-timeout>=4.0.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from redis) (4.0.3)
Downloading redis-5.0.7-py3-none-any.whl (252 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 252.1/252.1 kB 2.2 MB/s eta 0:00:0000:01
Installing collected packages: redis
Successfully installed redis-5.0.7
Collecting themoviedb
  Downloading themoviedb-0.4.0-py3-none-any.whl.metadata (6.3 kB)
Collecting aiohttp==3.8.4 (from themoviedb)
  Downloading aiohttp-3.8.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (7.4 kB)
Requirement already satisfied: aiosignal==1.3.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (1.3.1)
Collecting async-timeout==4.0.2 (from themoviedb)
  Downloading async_timeout-4.0.2-py3-none-any.whl.metadata (4.2 kB)
Collecting attrs==23.1.0 (from themoviedb)
  Downloading attrs-23.1.0-py3-none-any.whl.metadata (11 kB)
Collecting certifi==2023.5.7 (from themoviedb)
  Downloading certifi-2023.5.7-py3-none-any.whl.metadata (2.2 kB)
Collecting charset-normalizer==3.1.0 (from themoviedb)
  Downloading charset_normalizer-3.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (30 kB)
Collecting dacite==1.8.1 (from themoviedb)
  Downloading dacite-1.8.1-py3-none-any.whl.metadata (15 kB)
Collecting frozenlist==1.3.3 (from themoviedb)
  Downloading frozenlist-1.3.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.7 kB)
Collecting idna==3.4 (from themoviedb)
  Downloading idna-3.4-py3-none-any.whl.metadata (9.8 kB)
Collecting multidict==6.0.4 (from themoviedb)
  Downloading multidict-6.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.1 kB)
Requirement already satisfied: requests==2.31.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (2.31.0)
Collecting urllib3==2.0.3 (from themoviedb)
  Downloading urllib3-2.0.3-py3-none-any.whl.metadata (6.6 kB)
Collecting yarl==1.9.2 (from themoviedb)
  Downloading yarl-1.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (23 kB)
Downloading themoviedb-0.4.0-py3-none-any.whl (59 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.4/59.4 kB 6.0 MB/s eta 0:00:00
Downloading aiohttp-3.8.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 5.4 MB/s eta 0:00:00:00:01
Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Downloading attrs-23.1.0-py3-none-any.whl (61 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.2/61.2 kB 11.0 MB/s eta 0:00:00
Downloading certifi-2023.5.7-py3-none-any.whl (156 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 157.0/157.0 kB 27.3 MB/s eta 0:00:00
Downloading charset_normalizer-3.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (199 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.3/199.3 kB 3.1 MB/s eta 0:00:00:00:01
Downloading dacite-1.8.1-py3-none-any.whl (14 kB)
Downloading frozenlist-1.3.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (149 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.6/149.6 kB 15.3 MB/s eta 0:00:00
Downloading idna-3.4-py3-none-any.whl (61 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.5/61.5 kB 12.4 MB/s eta 0:00:00
Downloading multidict-6.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.5/114.5 kB 23.4 MB/s eta 0:00:00
Downloading urllib3-2.0.3-py3-none-any.whl (123 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 123.6/123.6 kB 26.3 MB/s eta 0:00:00
Downloading yarl-1.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (268 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 268.8/268.8 kB 46.2 MB/s eta 0:00:00
Installing collected packages: urllib3, multidict, idna, frozenlist, dacite, charset-normalizer, certifi, attrs, async-timeout, yarl, aiohttp, themoviedb
  Attempting uninstall: urllib3
    Found existing installation: urllib3 2.2.1
    Uninstalling urllib3-2.2.1:
      Successfully uninstalled urllib3-2.2.1
  Attempting uninstall: multidict
    Found existing installation: multidict 6.0.5
    Uninstalling multidict-6.0.5:
      Successfully uninstalled multidict-6.0.5
  Attempting uninstall: idna
    Found existing installation: idna 3.6
    Uninstalling idna-3.6:
      Successfully uninstalled idna-3.6
  Attempting uninstall: frozenlist
    Found existing installation: frozenlist 1.4.1
    Uninstalling frozenlist-1.4.1:
      Successfully uninstalled frozenlist-1.4.1
  Attempting uninstall: charset-normalizer
    Found existing installation: charset-normalizer 3.3.2
    Uninstalling charset-normalizer-3.3.2:
      Successfully uninstalled charset-normalizer-3.3.2
  Attempting uninstall: certifi
    Found existing installation: certifi 2024.2.2
    Uninstalling certifi-2024.2.2:
      Successfully uninstalled certifi-2024.2.2
  Attempting uninstall: attrs
    Found existing installation: attrs 23.2.0
    Uninstalling attrs-23.2.0:
      Successfully uninstalled attrs-23.2.0
  Attempting uninstall: async-timeout
    Found existing installation: async-timeout 4.0.3
    Uninstalling async-timeout-4.0.3:
      Successfully uninstalled async-timeout-4.0.3
  Attempting uninstall: yarl
    Found existing installation: yarl 1.9.4
    Uninstalling yarl-1.9.4:
      Successfully uninstalled yarl-1.9.4
  Attempting uninstall: aiohttp
    Found existing installation: aiohttp 3.9.3
    Uninstalling aiohttp-3.9.3:
      Successfully uninstalled aiohttp-3.9.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
redis 5.0.7 requires async-timeout>=4.0.3; python_full_version < "3.11.3", but you have async-timeout 4.0.2 which is incompatible.
sparkmagic 0.21.0 requires pandas<2.0.0,>=0.17.1, but you have pandas 2.2.1 which is incompatible.
sphinx 7.2.6 requires docutils<0.21,>=0.18.1, but you have docutils 0.16 which is incompatible.
Successfully installed aiohttp-3.8.4 async-timeout-4.0.2 attrs-23.1.0 certifi-2023.5.7 charset-normalizer-3.1.0 dacite-1.8.1 frozenlist-1.3.3 idna-3.4 multidict-6.0.4 themoviedb-0.4.0 urllib3-2.0.3 yarl-1.9.2
Requirement already satisfied: awscli in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (1.32.101)
Requirement already satisfied: botocore==1.34.101 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from awscli) (1.34.101)
Requirement already satisfied: docutils<0.17,>=0.10 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from awscli) (0.16)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from awscli) (0.10.1)
Requirement already satisfied: PyYAML<6.1,>=3.10 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from awscli) (6.0.1)
Requirement already satisfied: colorama<0.4.7,>=0.2.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from awscli) (0.4.6)
Requirement already satisfied: rsa<4.8,>=3.1.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from awscli) (4.7.2)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore==1.34.101->awscli) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore==1.34.101->awscli) (2.9.0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore==1.34.101->awscli) (2.0.3)
Requirement already satisfied: pyasn1>=0.1.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from rsa<4.8,>=3.1.2->awscli) (0.6.0)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore==1.34.101->awscli) (1.16.0)
Requirement already satisfied: boto3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (1.34.101)
Requirement already satisfied: botocore<1.35.0,>=1.34.101 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from boto3) (1.34.101)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from boto3) (0.10.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore<1.35.0,>=1.34.101->boto3) (2.9.0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore<1.35.0,>=1.34.101->boto3) (2.0.3)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.35.0,>=1.34.101->boto3) (1.16.0)
Requirement already satisfied: botocore in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (1.34.101)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore) (2.9.0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore) (2.0.3)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore) (1.16.0)
Requirement already satisfied: themoviedb in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (0.4.0)
Requirement already satisfied: aiohttp==3.8.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (3.8.4)
Requirement already satisfied: aiosignal==1.3.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (1.3.1)
Requirement already satisfied: async-timeout==4.0.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (4.0.2)
Requirement already satisfied: attrs==23.1.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (23.1.0)
Requirement already satisfied: certifi==2023.5.7 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (2023.5.7)
Requirement already satisfied: charset-normalizer==3.1.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (3.1.0)
Requirement already satisfied: dacite==1.8.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (1.8.1)
Requirement already satisfied: frozenlist==1.3.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (1.3.3)
Requirement already satisfied: idna==3.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (3.4)
Requirement already satisfied: multidict==6.0.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (6.0.4)
Requirement already satisfied: requests==2.31.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (2.31.0)
Requirement already satisfied: urllib3==2.0.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (2.0.3)
Requirement already satisfied: yarl==1.9.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from themoviedb) (1.9.2)

## Import Libraries

In [2]:
import pandas as pd
import numpy as np
import uuid
#from sentence_transformers import SentenceTransformer
import datetime
import os
import redis
import time
import json
import boto3
import botocore
import pickle
import re
import gzip
import shutil
from urllib import request
from redis.commands.search.field import VectorField
from redis.commands.search.field import TextField, NumericField
from redis.commands.search.field import TagField
from redis.commands.search.query import Query, NumericFilter
from redis.commands.search.result import Result
from redis.cluster import RedisCluster as MemoryDB
from redis.commands.search.field import VectorField, TextField, NumericField
from redis.commands.search.indexDefinition import IndexDefinition, IndexType
from themoviedb import TMDb
from multiprocessing.pool import ThreadPool

## Test Connection to MemoryDB

In [3]:
%%time
memorydb_host = os.environ.get("MEMORYDB_HOST", "clustercfg.xxxx.xxxxxx.memorydb.xx-xxxx-x.amazonaws.com")
memorydb_port = os.environ.get("MEMORYDB_PORT", 6379)
print(f"MemoryDB Url = {memorydb_host}:{memorydb_port}")
rc = MemoryDB(host=memorydb_host, port=memorydb_port, ssl=True, decode_responses=False, ssl_cert_reqs="none")
rc.ping()
# rc.flushall()

MemoryDB Url = clustercfg.xxxx.xxxxxx.memorydb.xx-xxxx-x.amazonaws.com:6379
CPU times: user 73.4 ms, sys: 2.9 ms, total: 76.3 ms
Wall time: 84.3 ms

True

## Download IMDB Datasets

### Define Functions

In [4]:
dataset_path = "datasets"

In [5]:
def download_compressed_dataset(url):
    if not os.path.isdir(dataset_path):
        os.makedirs(dataset_path) 
    compressed_filename = dataset_path + "/" + re.split(pattern='/', string=url)[-1]
    request.urlretrieve(url=url, filename=compressed_filename)
    uncompressed_filename = re.split(pattern=r'\.gz', string=compressed_filename)[0]
    print(f"downloaded {compressed_filename}")
    with gzip.open(compressed_filename, 'rb') as f_in:
        with open(uncompressed_filename, 'wb') as f_out:
            shutil.copyfileobj(f_in, f_out)
    print(f"extracted {uncompressed_filename}")
    return uncompressed_filename

In [6]:
datasets = [
    "https://datasets.imdbws.com/title.basics.tsv.gz",
    "https://datasets.imdbws.com/title.principals.tsv.gz",
    "https://datasets.imdbws.com/name.basics.tsv.gz",
    "https://datasets.imdbws.com/title.ratings.tsv.gz",
]

retrieved_datasets = ThreadPool(5).imap_unordered(download_compressed_dataset, datasets)
for retrieved_dataset in retrieved_datasets:
    print(f"loading {retrieved_dataset}")
    pickle.dump(pd.read_table(retrieved_dataset,sep="\t",low_memory=False, na_values=["\\N","nan"]), open(retrieved_dataset[:-4]+".sav","wb"))

downloaded datasets/title.ratings.tsv.gz
extracted datasets/title.ratings.tsv
loading datasets/title.ratings.tsv
downloaded datasets/name.basics.tsv.gz
downloaded datasets/title.basics.tsv.gz
downloaded datasets/title.principals.tsv.gz
extracted datasets/name.basics.tsv
loading datasets/name.basics.tsv
extracted datasets/title.basics.tsv
extracted datasets/title.principals.tsv
loading datasets/title.basics.tsv
loading datasets/title.principals.tsv

## Show Datasets

In [7]:
df_title_basics = pickle.load(open(f"{dataset_path}/title.basics.sav","rb"))
df_title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1,"Comedy,Short"

In [8]:
df_title_principals = pickle.load(open(f"{dataset_path}/title.principals.sav","rb"))
df_title_principals.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,NaN,"[""Self""]"
1,tt0000001,2,nm0005690,director,NaN,NaN
2,tt0000001,3,nm0005690,producer,producer,NaN
3,tt0000001,4,nm0374658,cinematographer,director of photography,NaN
4,tt0000002,1,nm0721526,director,NaN,NaN

In [9]:
df_name_basics = pickle.load(open(f"{dataset_path}/name.basics.sav","rb"))
df_name_basics.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899.0,1987.0,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934.0,NaN,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949.0,1982.0,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","tt0050986,tt0083922,tt0050976,tt0069467"

In [10]:
df_title_ratings = pickle.load(open(f"{dataset_path}/title.ratings.sav","rb"))
df_title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2063
1  tt0000002            5.6       279
2  tt0000003            6.5      2030
3  tt0000004            5.4       180
4  tt0000005            6.2      2796

## Drop Specific Titles

### Drop Specific Title Types

In [11]:
# initial title count
df_title_basics.shape[0]

10913680

In [12]:
# identify title types
df_title_basics.titleType.unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvSeries', 'tvEpisode',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

In [13]:
# only keep movie tvMovie tvSeries tvMiniSeries
df_title_basics = df_title_basics[(df_title_basics.titleType == "movie") | (df_title_basics.titleType == "tvMovie") | (df_title_basics.titleType == "tvSeries") | (df_title_basics.titleType == "tvMiniSeries")]
df_title_basics.shape[0]

1155452

### Drop Older Titles

In [14]:
# drop titles older than 1925
df_title_basics = df_title_basics[df_title_basics['startYear'] > 1935]
# df_title_basics = df_title_basics[df_title_basics['endYear'] > 1935]
df_title_basics.shape[0]

978305

### Drop Unused Columns

In [15]:
# drop unused columns
df_title_basics = df_title_basics.drop(['originalTitle', 'endYear'], axis=1)
df_title_basics.columns = ['tconst', 'titleType', 'title', 'isAdult', 'year', 'runtime', 'genres']
df_title_basics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 978305 entries, 3816 to 10913630
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   tconst     978305 non-null  object
 1   titleType  978305 non-null  object
 2   title      978303 non-null  object
 3   isAdult    978305 non-null  float64
 4   year       978305 non-null  float64
 5   runtime    624379 non-null  object
 6   genres     888957 non-null  object
dtypes: float64(2), object(5)
memory usage: 59.7+ MB

## Merge Tables

### Prepare Directors Table

In [16]:
df_title_directors = df_title_principals[df_title_principals['category'] == 'director'][['tconst', 'nconst']]
df_title_directors = df_title_directors.merge(df_name_basics[['nconst', 'primaryName']], on='nconst', how='left')
df_title_directors['primaryName'] = df_title_directors['primaryName'].fillna('')
df_title_directors = df_title_directors.groupby('tconst')['primaryName'].apply(lambda x: ', '.join(x)).reset_index()
df_title_directors.columns = ['tconst', 'directors']

### Prepare Actors Table

In [17]:
df_title_actors = df_title_principals[df_title_principals['category'].isin(['actor', 'actress'])][['tconst', 'nconst']]
df_title_actors = df_title_actors.merge(df_name_basics[['nconst', 'primaryName']], on='nconst', how='left')
df_title_actors['primaryName'] = df_title_actors['primaryName'].fillna('')
df_title_actors = df_title_actors.groupby('tconst')['primaryName'].apply(lambda x: ', '.join(x)).reset_index()
df_title_actors.columns = ['tconst', 'actors']

### Merge Tables

In [18]:
df_title_ratings.columns = ['tconst', 'rating', 'numVotes']
df_merged = pd.merge(df_title_basics, df_title_ratings, on='tconst', how='left')
df_merged = pd.merge(df_merged, df_title_directors, on='tconst', how='left')
df_merged = pd.merge(df_merged, df_title_actors, on='tconst', how='left')
df_merged['isAdult'] = df_merged['isAdult'].astype('bool')
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 978305 entries, 0 to 978304
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   tconst     978305 non-null  object
 1   titleType  978305 non-null  object
 2   title      978303 non-null  object
 3   isAdult    978305 non-null  bool
 4   year       978305 non-null  float64
 5   runtime    624379 non-null  object
 6   genres     888957 non-null  object
 7   rating     469310 non-null  float64
 8   numVotes   469310 non-null  float64
 9   directors  632265 non-null  object
 10  actors     701124 non-null  object
dtypes: bool(1), float64(3), object(7)
memory usage: 75.6+ MB

### Drop More Titles (without directors and without actors)

In [19]:
# drop rows with no directors or actors
df_merged.dropna(subset=['directors'], inplace=True)
df_merged.dropna(subset=['actors'], inplace=True)
df_merged.shape[0]

495542

### Drop Lower Rated Titles (and titles with low number of ratings)

In [20]:
df_merged = df_merged[df_merged['numVotes'] > 2000]
df_merged = df_merged[df_merged['rating'] > 4.0]
df_merged.shape[0]

27910

### Get Plot from TMDB

#### Define Function to Get Plot

In [21]:
from time import sleep
tmdb = TMDb(key="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx", language="en-US", region="US")
def get_overview(imdb_id):
    title =  tmdb.find().by_imdb(imdb_id)
    sleep(0.025)
    if title.movie_results:
        return title.movie_results[0].overview
    if  title.tv_results:
        return title.tv_results[0].overview
    return

#### Get Plot for All Remaining Titles

In [22]:
df_subset = df_merged
df_subset['plot'] = df_subset['tconst'].map(get_overview)
df_subset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27910 entries, 106 to 978292
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tconst     27910 non-null  object
 1   titleType  27910 non-null  object
 2   title      27910 non-null  object
 3   isAdult    27910 non-null  bool
 4   year       27910 non-null  float64
 5   runtime    27894 non-null  object
 6   genres     27907 non-null  object
 7   rating     27910 non-null  float64
 8   numVotes   27910 non-null  float64
 9   directors  27910 non-null  object
 10  actors     27910 non-null  object
 11  plot       27780 non-null  object
dtypes: bool(1), float64(3), object(8)
memory usage: 2.6+ MB

#### Drop Titles with No Plot

In [23]:
df_subset['plot'].replace('', np.nan, inplace=True)
df_subset.dropna(subset=['plot'], inplace=True)
df_subset.shape[0]

/tmp/ipykernel_9845/2992180993.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_subset['plot'].replace('', np.nan, inplace=True)

27711

### Generate Vector Embedding for Plot

#### Define Function to Query Bedrock for Vector Embedding

In [24]:
bedrock_runtime = boto3.client('bedrock-runtime')

def get_text_embedding(text, dimensions=512, normalize=True):
    if not isinstance(text, str):
        return ""
    try:
        body = json.dumps({"inputText": text, "dimensions" : dimensions, "normalize": normalize})
        modelId = "amazon.titan-embed-text-v2:0"
        accept = "application/json"
        contentType = "application/json"

        response = bedrock_runtime.invoke_model(
            body=body, modelId=modelId, accept=accept, contentType=contentType
        )
        response_body = json.loads(response.get("body").read())
        return(response_body.get("embedding"))
    except botocore.exceptions.ClientError as error:
        print(text)
        if error.response['Error']['Code'] == 'AccessDeniedException':
               print(f"\x1b[41m{error.response['Error']['Message']}\
                    \nTo troubeshoot this issue please refer to the following resources.\
                     \nhttps://docs.aws.amazon.com/IAM/latest/UserGuide/troubleshoot_access-denied.html\
                     \nhttps://docs.aws.amazon.com/bedrock/latest/userguide/security-iam.html\x1b[0m\n")

        else:
            print(text)
            raise error

#### Add Vector Embedding to Each Title

In [25]:
df_subset["v_plot"] = df_subset["plot"].map(get_text_embedding)
df_subset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27711 entries, 106 to 978292
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tconst     27711 non-null  object
 1   titleType  27711 non-null  object
 2   title      27711 non-null  object
 3   isAdult    27711 non-null  bool
 4   year       27711 non-null  float64
 5   runtime    27704 non-null  object
 6   genres     27710 non-null  object
 7   rating     27711 non-null  float64
 8   numVotes   27711 non-null  float64
 9   directors  27711 non-null  object
 10  actors     27711 non-null  object
 11  plot       27711 non-null  object
 12  v_plot     27711 non-null  object
dtypes: bool(1), float64(3), object(9)
memory usage: 2.8+ MB

In [26]:
df_subset.head()

,tconst,titleType,title,isAdult,year,runtime,genres,rating,numVotes,directors,actors,plot,v_plot
106,tt0027260,movie,After the Thin Man,False,1936.0,112,"Comedy,Crime,Mystery",7.6,12211.0,W.S. Van Dyke,"William Powell, Myrna Loy, James Stewart, Elis...",Nick and Nora Charles investigate when Nora's ...,"[-0.112098925, 0.0368897, -0.00024240141, -0.0..."
121,tt0027286,movie,The Amazing Adventure,False,1936.0,61,"Comedy,Drama,Romance",6.3,2193.0,Alfred Zeisler,"Cary Grant, Mary Brian, Peter Gawthorne, Henry...",A bored millionaire wagers his doctor that he ...,"[-0.11646503, -0.016336221, 0.022670673, -0.11..."
134,tt0027300,movie,Anthony Adverse,False,1936.0,141,"Adventure,Drama,Romance",6.3,2047.0,Mervyn LeRoy,"Fredric March, Olivia de Havilland, Donald Woo...","Based on the novel by Hervey Allen, this expan...","[-0.10065765, 0.01913084, -0.029284902, 0.0194..."
158,tt0027336,movie,The Lower Depths,False,1936.0,90,"Crime,Drama,Romance",7.5,3704.0,Jean Renoir,"Jean Gabin, Suzy Prim, Louis Jouvet, Jany Holt...",Inhabitants of a flophouse struggle to survive...,"[-0.049684554, 0.120132804, 0.0017727931, -0.0..."
180,tt0027367,movie,Black Legion,False,1937.0,83,"Crime,Drama,Film-Noir",6.9,3940.0,Archie Mayo,"Humphrey Bogart, Ann Sheridan, Dick Foran, Eri...",When a hard-working machinist loses a promotio...,"[-0.09975542, 0.11154916, 0.009889546, -0.0111..."

## MemoryDB Ingestion

### Define Functions for Index Creation

In [27]:
def generate_key(prefix = ""):
    return prefix + str(uuid.uuid4())

def create_hnsw_index(rc, index_name, vector_field_name, number_of_vectors, vector_dimensions=512, distance_metric='L2', M=16, EF=512, key_prefix=''):
    # Create the index
    try:
        rc.ft(index_name).create_index([
            VectorField(vector_field_name, "HNSW", {
                "TYPE": "FLOAT32",
                "DIM": vector_dimensions,
                "DISTANCE_METRIC": distance_metric,
                "INITIAL_CAP": number_of_vectors,
                "M": M,
                "EF_CONSTRUCTION": EF
            }),
            TagField("isAdult"),
            TagField("titleType"),
            TagField("directors"),
            NumericField("rating"),
            TagField("genres"),
            TextField("plot"),
            TextField("title"),
            NumericField("runtime"),
            TagField("actors"),
            NumericField("year")
        ], definition=IndexDefinition(prefix=[key_prefix]))
        print(f"Index {index_name} created successfully.")
    except ResponseError as e:
        print(f"Index {index_name} created previously: {str(e)}")

### Define Variables for MemoryDB Index

In [28]:
KEY_PREFIX = "movies:"
index_name = "imdb_hnsw_index"
vector_field_name = "v_plot"
number_of_vectors = len(df_subset)
print(f"Creating Index {index_name} on Field {vector_field_name} expecting {number_of_vectors:,} vectors")

Creating Index imdb_hnsw_index on Field v_plot expecting 27,711 vectors

### Create Index (and delete existing items)

In [29]:
%%time
# Create index in MemoryDB
rc.ft(index_name).dropindex()
for key in rc.scan_iter("movies:*"):
    rc.delete(key)
create_hnsw_index(rc, index_name, vector_field_name, number_of_vectors, 
                  vector_dimensions=512, distance_metric='Cosine', M=16, EF=512, key_prefix=KEY_PREFIX)

Index imdb_hnsw_index created successfully.
CPU times: user 10.4 ms, sys: 0 ns, total: 10.4 ms
Wall time: 306 ms

### Load Data into MemoryDB

In [30]:
%%time
# Load data into MemoryDB
BATCH_SIZE = 100
pipe = rc.pipeline()
for index, row in df_subset.iterrows():
    key = generate_key(prefix=KEY_PREFIX)
    v_plot = np.array(row['v_plot'], dtype=np.float32).tobytes()
    pipe.hset(key, mapping={
        'directors': row['directors'],
        'rating': row['rating'],
        'genres': row['genres'],
        'plot': row['plot'],
        'title': row['title'],
        'runtime': row['runtime'],
        'actors': row['actors'],
        'year': row['year'],
        'titleType': row['titleType'],
        'isAdult': str(row['isAdult']).lower(),
        'v_plot': v_plot
    })
    if index % BATCH_SIZE == 0 or index == number_of_vectors - 1:
        pipe.execute()
        pipe = rc.pipeline()
print("Data indexed successfully.")

Data indexed successfully.
CPU times: user 4.35 s, sys: 93.6 ms, total: 4.44 s
Wall time: 24.3 s

### Find Random Key and Fetch Value

In [31]:
%%time
# Add a python script to find a random key that stats with the prefix and fetch the value and show it
count = 0
while True:
    count += 1
    keyname = rc.randomkey()
    keyname = keyname.decode('utf-8')
    print(str(keyname))
    if keyname.startswith(KEY_PREFIX) == True:
        print(rc.hgetall(keyname))
        break
    elif count > 10:
        break

movies:0d762b6b-f119-45ad-be15-120aebce3703
{b'actors': b'Aly Michalka, Vanessa Hudgens, Gaelan Connell, Scott Porter, Ryan Donowho, Charlie Saxton, Lisa Kudrow, Tim Jo, Elvy, Lisa Chung', b'titleType': b'movie', b'title': b'Bandslam', b'rating': b'6.3', b'year': b'2009.0', b'plot': b'A high school social outcast and the popular girl bond through a shared love of music.', b'isAdult': b'false', b'runtime': b'111', b'genres': b'Comedy,Drama,Family', b'v_plot': b'~\x04\x18\xbc\x87\xc4p<j\xf3\xe0\xbc\x1e9f\xbd\xe7)\xd8:*\xbe\xaf\xbd\x1e\x9f\xb0<\xa4\xfbJ\xbd\xb1\x80\x94=\x9c\xd5\'\xbd/\xb7\x0b\xbd\xb5\x13&\xbcT\x14\t\xbdP\xb5\xe2<\xe7)X=T\xae>\xbc\xceQ\xa4\xbc\x1a\x0c\x9f\xbd\x8fP^=\xbd9I\xbd\xa4\xfbJ=\x87*;\xbd\r\xed\x9f\xbcYA\xd0<iY\xab\xbd\xd3~k\xbdP\x1b-=\xe3\x96\xc6\xbdH\xf5\x89=]:,\xbde`O=\xbd\x9f\x93\xbc\x00\xce ="\xcc\xf7\xbdP\xb5\xe2=\xa8\xf4\xa6=7wd=\xd7\x11}=\xa9\x8e\\=\x93I:=\xec"4<e`\xcf<D\xfc-\xban\x86r<vx\xaa\xbc\xa4a\x95<\xd3~\xeb<\xb9\x0c\x02=\x8f\xb6(=e`O<~\x04\x18>\r\xed\x9f;\xce\xeb\xd9;\xec"4<T\x14\t\xbdD\xfc\xad=P\xb5b<a\xcd\xbd<\xbd\x9f\x13\xbd"2B\xbd\xdbp#<\xca\xbe\x12=\x1e\x9f\xb0\xbc\x1e9\xe6\xba\xce\xeb\xd9<3J\x9d\xbd\xe7\x8f\xa2<\xbd9I<UH\xf4<\x01h\xd6\xbc\xa8\xf4&\xbd\xd3~\xeb<\xec\xbci\xbc\xa9\x8e\\=\xf4\xae!\xbe\xec\xbci\xbd\x8b#\x97\xbc\xc6+\x81:P\x1b-\xbd\xb1\x80\x94=*\xbe/<&\xc5S<\x8fP^\xbc\xe3\xfc\x10<\xd7\x11}=\t\x8ey\xbc\xc6+\x81=zq\x06>T\xae>=~\x04\x18\xbd\xa0\x02\xef:\xd3~\xeb;\x9c\xd5\'\xbd\xd7\x11}=3J\x9d<\x98\xdc\xcb\xbd\xac\xed\x02\xbd\x98\xdcK\xbd;p\xc0;\xa0h\xb9;\tZ\x8e\xbc\xe3\x96F=\xf0O\xfb<n\x86\xf2<\xbd9\xc9<\xd2J\x00>iY+=\xfc:\x8f=&+\x9e<zq\x06\xbc\xbd\x9f\x93=zq\x86=\xa8\xf4&\xbd\xc6\xc56\xbd"\xccw=\x98\xdc\xcb\xbde`\xcf=iY+<P\x1b\xad\xbb\x87\x90\x05\xbd\x01hV\xbd"\xcc\xf7\xbc\x87*\xbb\xbb;\xd6\x8a=T\x14\x89=\xb5\x13\xa6\xbc\t\x8e\xf9<\x9c\xd5\xa7\xbc\xbe\xd3\xfe\xbc*\xbe/<\x831_=\tZ\x8e=\x1e9\xe6<T\xae\xbe<;p@\xbd\xa0\x02o<nR\x87\xbc\xf4\xae\xa1:\x1e9f<\x01hV\xbdj\xf3`\xbd\x7f\x9e\xcd\xbcY\xa7\x1a=\xa0h9\xbd\xec"4\xbdnR\x07\xbd\xfc\xd4D<H\xf5\t=\x15y\x8d<\xd2J\x80=r\xe5\x98;\xca\xbe\x92=\x98B\x16<\x87\x90\x05\xbd\xd2J\x00=]:\xac:\xd2\xe4\xb5\xbae`\xcf\xbdn\x86r\xbd\xc2\xcc\xda<P\x1b-=n\x86\xf2:\xd2J\x00=/\xb7\x0b\xbd\xa9\x8e\\\xbd3J\x1d\xbc\x98\xdc\xcb\xbc\xbd9\xc9<\xf0O{\xbd\x87\x90\x05=\xec\xbci\xbc\x16\x13C=\xdf\x035\xbd\xe7)\xd8<r\xe5\x18\xbcj\xf3`;iY+\xbd/\xb7\x0b\xbd\xa0\xce\x03=\xec\xbci<\xa0h\xb9="2\xc2\xbcH\xf5\x89\xbd\xb5\x13&<\xa0\x02o\xbd\xa0\x02\xef<\x11\x801\xbde`O<Y\xa7\x9a="2B\xbd\xfc\xd4\xc4;\xa0h\xb9=\xbe\xd3~\xbd\xd2J\x80\xbdn\x86r=;p@\xbb\xf8A\xb3=\xdbp\xa3\xbd\xb9\x0c\x82\xbd;p\xc0=\x8fP\xde<\xc2\xcc\xda\xbd\xc6\xc5\xb6;\x87*\xbb\xbc\xb5\x13&=;\n\xf6\xbc\xd7\x11}\xbc\xec"4=\xa0\xce\x03>\xa0\x02\xef\xbc\x8b#\x97\xbd\xc6\xc5\xb6\xbd\x87\x90\x85\xbb\xf4\xae\xa1;\xfc:\x8f;\t\x8e\xf9;"\xccw\xbd\tZ\x0e\xbde`O<\xd7w\xc7\xbcY\xa7\x1a\xbd\xf0\x1b\x90=\xb1\x80\x94=\xbd9\xc9\xbc\x7f\x9e\xcd\xbc\x01h\xd6;\x98B\x16\xbd\x8b#\x97=\xbd\x9f\x93\xbcH\xf5\x89=;\n\xf6<\x1e9f\xbd\xd3~k=\x98\xdcK\xbd~\x04\x18\xbd\xac\xed\x82=\tZ\x8e\xbc\xf0O{<\xd2\xe4\xb5\xb9\xd3~k\xbcL\x88\x9b\xbc\x16\x13C=\xdf\x03\xb5<\xd7w\xc7\xbb\xad\x87\xb8\xbdn\x86r=\xc6+\x81\xba\xe3\x96F=7wd=~\x04\x18\xbe7w\xe4<\xc2\xccZ=zq\x06\xbd\x1e9f\xbd\xf8A\xb3\xbb\xa0h9;T\xae\xbe\xbd\xf0O\xfb;/\xb7\x8b<a\xcd=;\x16\x13\xc3<j\xf3`<\xec\xbc\xe9<Y\xa7\x9a\xbbr\xe5\x18=\xd7wG<\xe3\xfc\x10\xbca\xcd==\r\x87U\xbd;\n\xf6<UHt<~\x04\x98\xbc\x8f\xb6\xa8<\xa0\x02o<iY\xab<\x9c\xd5\'\xbb]:,=\xd6\xdd\x91\xbd"\x98\x8c\xbc\xb5\x13&\xbd\x8b#\x97=\xc6+\x81\xbc"2B\xbd*\xbe/\xbc*\xbe\xaf\xbcUHt\xbbP\x1b-\xbd\xa0h\xb9\xbc\xa0h9\xbciY\xab=a\xcd=\xbb\x87\x90\x85\xbd\x1e\x9f0=UHt=\xd2\xe4\xb5<YAP\xbd\x1e9\xe6<T\xae\xbe=\xa0\x02\xef\xbc\xe3\x96F\xbd;\xd6\n=\xe3\x96F\xbcz\x0b<=\xd7wG<T\x14\x89\xbc\xa0\x02\xef:3J\x1d<;p\xc0\xbc\xa4\xfbJ\xbdD\xfc\xad\xbb\xf0O\xfb<\xe3\xfc\x10=\xfc\xd4D\xbb;\xd6\n;\x11\x80\xb1;"\xcc\xf7\xbc\t\x8ey\xbd3J\x1d\xbc"\xccw\xbd"\xccw\xbc\xb9@\xed;&\xc5S;\xb9@m=\x8fP\xde<\x00\xce =H\xf5\x89\xbd\xa9\x8e\\\xbd\xfc\xd4\xc4<"\x98\x8c\xbd\x98\xdcK\xbdP\xb5\xe2\xbbj\xf3\xe0\xbcz\x0b<=UHt\xbc\xa9\x8e\xdc;r\xe5\x98=z\x0b<=\x1e\x9f\xb0<\xc6+\x81\xbd\xd2J\x00\xbd\xbd\x9f\x93<H\xf5\t=\xec"\xb4\xbb\xb1\x80\x94\xbd\xf0O{=\xa0\xce\x03\xbc7w\xe4<H\xf5\t=\x98\xdcK\xbc\xa0\xce\x83\xbc\xf8A3\xbb\x05a2<\x1e9\xe6;\xd2\xe4\xb5<\x16\x13\xc3=\xec\xbci\xbd\xb9\x0c\x02\xbd3J\x9d\xbcT\xae\xbe<\xec\xbci=\r\xed\x1f\xbd\x87*;\xbd\xceQ$=\x8f\xb6(\xbd\xfc:\x8f=\xb5\x13\xa6=\xf4\xae!\xbd\xec"\xb4\xbc\x16\x13C=\xbd\x9f\x13\xbd\x01hV\xbc\x8fP\xde<\xe7)\xd8\xbc\x8f\xb6(\xbc7w\xe4:\x1e\x9f0<\xa0\x02o=\xa4\xfb\xca\xbc\xa4\xfbJ=P\x1b\xad\xbc\xf4\xae!=\x9c\xd5\'\xbd\xf8A3\xbbL\x88\x9b9YA\xd0\xbc\xb5\x13\xa6\xbbe`\xcf;"2B=\xd6\xdd\x11\xbdH\xf5\t\xbc\xa9\x8e\\<Y\xa7\x9a;iY\xab<\xc6+\x01\xbda3\x08\xbd7w\xe4<nR\x07\xbd\x87\x90\x05=a\xcd=\xbc@\x03\xd2\xbcr\xe5\x18=\xbd9\xc9\xbcnR\x07=\x00\xce\xa0<\xf0O{\xbcH\xf5\x89\xbc\x87*;\xbb\x83\x97\xa9;\x8b#\x97\xbd\xd2\xe45\xbd\xfc:\x8f<"\x98\x0c=~\x04\x98<\xfc:\x8f;j\xf3`\xbd@\x03\xd2\xbb\xfc\xd4D<L\x88\x9b\xbc"\xccw=\x9c\xd5\xa7=\x16\x13C\xbd\xf8A\xb3\xbar\xe5\x98\xbc*\xbe/<\xe3\x96F=\xb9\x0c\x82<@\x03R\xbb"\xcc\xf7\xbc3J\x9d\xbdn\xec\xbc\xbc\xbe\xd3~\xbb3J\x1d=\xb1\x80\x94=\x16\x13C\xbc\x00\xce\xa0=&+\x9e<\xfc:\x0f\xbc\x15y\x8d\xbc\xfc:\x8f\xbd\xa4\xfbJ;7wd=\xc2\xccZ\xbd\xe3\x96F<\xf0\x1b\x90;7\xdd.;\xb9\xa6\xb7=~\x04\x98<YAP<iY+=H\xf5\t<]:\xac<\x98\xdcK\xbd\xe3\xfc\x10\xbc\xe3\x96\xc6\xbczq\x86\xbc&\xc5\xd3\xbb\xc2\xcc\xda<P\xb5b\xbd/\xb7\x0b\xbdiY\xab\xbc\xca\xbe\x12=\xc6+\x01\xbd\r\x87U<\xb9\x0c\x02<"\x98\x0c\xbd\xa0\x02\xef\xbc\xad\x87\xb8\xbc"2B;\x9c\xd5\'\xbc\xbe\xd3~\xbc\xb9\xa67=\xe7)X\xbd\xf0\x1b\x10\xbc"\x98\x8c<\x7f\x9eM\xbd\xd7\x11}\xbd\xe3\x96\xc6\xbc/\xb7\x8b<\x87*;;\x1a\x0c\x9f<\x87\x90\x85\xbd\xfc\xd4D=\x1a\x0c\x1f\xbdY\xa7\x1a\xbc\xe3\xfc\x10=\xceQ$\xbd"2B=7\xdd\xae\xbd\xb9\xa6\xb7<\xd7w\xc7\xbc\x87\x90\x05>\xc22%\xbd\xb9\xa6\xb7\xbb\x1a\x0c\x9f<"2\xc2:\xbd9\xc9<D\xfc\xad\xbcYAP\xbd\x83\x97\xa9\xbcT\xae>;\xd2J\x80\xbc\xa9\x8e\xdc;D\xfc\xad</\xb7\x0b\xbdr\xe5\x18="\x98\x8c\xbc\xf4\xae!\xbd\tZ\x0e=\r\xed\x1f\xbd\xbd\x9f\x13<\xd3~\xeb<UH\xf4<', b'directors': b'Todd Graff'}
CPU times: user 1.45 ms, sys: 101 µs, total: 1.55 ms
Wall time: 7.22 ms

### Query MemoryDB

#### Define Functions

In [32]:
def similarity_search(redis_client, index_name, query_vector, filters="*",top_n=1):
    # Convert the query vector to bytes
    query_vector_bytes = np.array(query_vector, dtype=np.float32).tobytes()
    # Create the query
    query = Query(f"{filters}=>[KNN {top_n} @v_plot  $query_vec AS score ]") \
        .sort_by("score") \
        .return_fields(  "titleType", "title", "year", "plot", "rating", "genres", "runtime") \
        .paging(0, top_n) \
        .dialect(2)
    params = {
        "query_vec": query_vector_bytes
    }
    # Process the query
    result = redis_client.ft(index_name).search(query, query_params=params)
    return result
def format_results(results):
    for doc in results.docs:
        doc_id = doc.id
        titleType = doc.titleType
        title = doc.title
        year = doc.year
        rating = doc.rating
        genres = doc.genres
        runtime = doc.runtime
        print(f"ID: {doc_id}, Title Type: {titleType}, Title: {title}, Year: {year}, Rating: {rating}, Genres: {genres}, Runtime: {str(datetime.timedelta(seconds=float(runtime)))}")

#### Get Random Title from Dataset

In [33]:
randomdf = df_subset.sample()
randomdf.get("title")

49401    The Sword and the Sorcerer
Name: title, dtype: object

In [34]:
selected_row = randomdf.iloc[0]
print(selected_row)
query_vector = selected_row['v_plot']

tconst                                               tt0084749
titleType                                                movie
title                               The Sword and the Sorcerer
isAdult                                                  False
year                                                    1982.0
runtime                                                     99
genres                                Action,Adventure,Fantasy
rating                                                     5.5
numVotes                                                7657.0
directors                                          Albert Pyun
actors       Lee Horsley, Kathleen Beller, Simon MacCorkind...
plot         A mercenary with a three-bladed sword rediscov...
v_plot       [-0.024327628, -0.008590264, 0.012438703, -0.0...
Name: 49401, dtype: object

#### Do Simple Similarity Search

In [35]:
%%time
results = similarity_search(rc, index_name, query_vector, top_n=15)

CPU times: user 1.4 ms, sys: 97 µs, total: 1.5 ms
Wall time: 49.1 ms

In [36]:
format_results(results)

ID: movies:1be15283-502a-4b06-a2ca-e00dbb2cb36b, Title Type: movie, Title: The Sword and the Sorcerer, Year: 1982, Rating: 5.5, Genres: Action,Adventure,Fantasy, Runtime: 0:01:39
ID: movies:273bdbbc-d1ae-4ab4-9f08-b383ae30a300, Title Type: movie, Title: Delgo, Year: 2008, Rating: 4.3, Genres: Adventure,Animation,Comedy, Runtime: 0:01:34
ID: movies:5e0398e0-095e-44b9-bd69-824fe96b274d, Title Type: movie, Title: The Magic Sword, Year: 1962, Rating: 4.8, Genres: Adventure,Drama,Fantasy, Runtime: 0:01:20
ID: movies:690b480a-0ad1-477b-8ce4-93c4c26ee399, Title Type: movie, Title: Crouching Tiger, Hidden Dragon, Year: 2000, Rating: 7.9, Genres: Action,Adventure,Drama, Runtime: 0:02:00
ID: movies:aef0d9e6-9409-4fc9-a702-242c59efd3d8, Title Type: movie, Title: Cuba, Year: 1979, Rating: 5.6, Genres: Adventure,Romance,Thriller, Runtime: 0:02:02
ID: movies:b036d78d-d81d-4ca0-9775-5d4781c97e34, Title Type: movie, Title: Kingdom of Heaven, Year: 2005, Rating: 7.3, Genres: Action,Adventure,Drama, Runtime: 0:02:24
ID: movies:f6f3017a-efa0-4e5c-92b2-1eebdac2b9d0, Title Type: movie, Title: Samurai Fiction, Year: 1998, Rating: 7.2, Genres: Action,Adventure,Comedy, Runtime: 0:01:51
ID: movies:1ec401c9-0e18-47c3-a14f-842075666a39, Title Type: movie, Title: Savior, Year: 1998, Rating: 7.2, Genres: Drama,War, Runtime: 0:01:43
ID: movies:70995ab0-8467-4eae-967e-1511beb21c50, Title Type: movie, Title: Battle Beyond the Stars, Year: 1980, Rating: 5.5, Genres: Action,Adventure,Sci-Fi, Runtime: 0:01:44
ID: movies:36f8e565-36f8-490e-9370-84713780cf0e, Title Type: movie, Title: Brancaleone at the Crusades, Year: 1970, Rating: 7.3, Genres: Adventure,Fantasy,History, Runtime: 0:01:56
ID: movies:0aee7eb3-264b-4555-8804-5f4c113d199f, Title Type: tvMovie, Title: Fire & Ice, Year: 2008, Rating: 4.3, Genres: Adventure,Drama,Fantasy, Runtime: 0:01:24
ID: movies:7f5d1bd4-1497-465f-8fa2-9a0867b6c534, Title Type: movie, Title: The Eagle Shooting Heroes, Year: 1993, Rating: 7, Genres: Action,Comedy,Fantasy, Runtime: 0:01:43
ID: movies:4f2d1797-3f4e-4c0b-98cd-f1702e070dbb, Title Type: movie, Title: The One-Armed Swordsman, Year: 1967, Rating: 7.2, Genres: Action,Drama, Runtime: 0:01:55
ID: movies:d5f96638-23ae-46fd-89d7-5da8d9556617, Title Type: movie, Title: Doctor Strange, Year: 2016, Rating: 7.5, Genres: Action,Adventure,Fantasy, Runtime: 0:01:55
ID: movies:e0b7da33-659d-44f3-913d-0a687b3e350f, Title Type: movie, Title: The Thief of Bagdad, Year: 1940, Rating: 7.4, Genres: Adventure,Family,Fantasy, Runtime: 0:01:46

#### Do Similarity Search with Filters

In [37]:
%%time
filters = "@isAdult:{false} @titleType:{movie} @year:[2000 2009] @rating:[6 (INF] (@genres:{Horror} | @genres:{Animation} | @genres:{Action}| @genres:{Drama}) "
results = similarity_search(rc, index_name, query_vector, filters=filters, top_n=15)

CPU times: user 2.43 ms, sys: 0 ns, total: 2.43 ms
Wall time: 12.7 ms

In [38]:
format_results(results)

ID: movies:690b480a-0ad1-477b-8ce4-93c4c26ee399, Title Type: movie, Title: Crouching Tiger, Hidden Dragon, Year: 2000, Rating: 7.9, Genres: Action,Adventure,Drama, Runtime: 0:02:00
ID: movies:b036d78d-d81d-4ca0-9775-5d4781c97e34, Title Type: movie, Title: Kingdom of Heaven, Year: 2005, Rating: 7.3, Genres: Action,Adventure,Drama, Runtime: 0:02:24
ID: movies:7f927361-b80f-43b4-a100-edb2ca3c3212, Title Type: movie, Title: Shadowless Sword, Year: 2005, Rating: 6.4, Genres: Action,Adventure,History, Runtime: 0:01:57
ID: movies:be855769-5e7d-48ef-baf9-a7d8bc102106, Title Type: movie, Title: Time and Tide, Year: 2000, Rating: 6.7, Genres: Action,Crime,Thriller, Runtime: 0:01:53
ID: movies:d6bd6498-838f-4db8-8312-e9a4edeed9ea, Title Type: movie, Title: Bichunmoo, Year: 2000, Rating: 6.1, Genres: Action,Drama,Fantasy, Runtime: 0:01:58
ID: movies:bd8413d9-5993-427f-8ca2-25180b8d9f73, Title Type: movie, Title: Azur & Asmar: The Princes' Quest, Year: 2006, Rating: 7.4, Genres: Adventure,Animation,Family, Runtime: 0:01:39
ID: movies:b42093ca-3abc-40cc-9fb8-aa76349361f9, Title Type: movie, Title: Seven Swords, Year: 2005, Rating: 6.1, Genres: Action,Adventure,Fantasy, Runtime: 0:02:33
ID: movies:ff7cf8b3-5b41-4687-b1ff-94477ba1abb4, Title Type: movie, Title: Solomon Kane, Year: 2009, Rating: 6.1, Genres: Action,Adventure,Fantasy, Runtime: 0:01:44
ID: movies:f2ae485a-ed43-4674-a2fa-77ad97876090, Title Type: movie, Title: The Affair of the Necklace, Year: 2001, Rating: 6, Genres: Drama,History,Romance, Runtime: 0:01:58
ID: movies:b30d16cc-75a3-4eec-a248-3b34ffe239f9, Title Type: movie, Title: A Frozen Flower, Year: 2008, Rating: 7.1, Genres: Drama,History,Romance, Runtime: 0:02:13
ID: movies:26dd07a2-a1f7-4a9e-91c2-de50701a7ff8, Title Type: movie, Title: Vengeance, Year: 2009, Rating: 6.5, Genres: Action,Crime,Thriller, Runtime: 0:01:48
ID: movies:9c08555d-e63b-41af-ac22-446ae57d5f7e, Title Type: movie, Title: Elizabeth: The Golden Age, Year: 2007, Rating: 6.8, Genres: Biography,Drama,History, Runtime: 0:01:54
ID: movies:582a48dc-04dc-4c7e-b4a6-3a51d5e03f92, Title Type: movie, Title: The Princess and the Frog, Year: 2009, Rating: 7.2, Genres: Adventure,Animation,Comedy, Runtime: 0:01:37
ID: movies:5086c160-ef4f-4374-9024-95079b1ba54a, Title Type: movie, Title: Tales from Earthsea, Year: 2006, Rating: 6.3, Genres: Adventure,Animation,Fantasy, Runtime: 0:01:55
ID: movies:e67f176a-d65a-4460-b97b-88fd923fb456, Title Type: movie, Title: One Night with the King, Year: 2006, Rating: 6, Genres: Biography,Drama,History, Runtime: 0:02:03

## Save Dataset

In [39]:
pickle.dump(df_subset, open(f"{dataset_path}/title.subset.sav","wb"))